* {
  font-family: Poppins;
}

p {
  line-height: 180%;
  font-size: 22px;
}

#banner-description {
  font-family: Poppins;
  font-size: 26px;
  line-height: 160%;
}

.download-button {
  align-items: center;
}

#email-icon {
  font-size: 38px;
}

#email {
  font-size: 20px;
}

.download-button-inner {
  background-color: red;
  border: 0;
  background-color: #3fa14c;
}

.access-system {
  width: 100%;
}

.access-system-button {
  max-width: fit-content;
}

.container {
  width: 90%;
  max-width: 1280px;
}

#home .container {
  margin-top: 64px;
  margin-bottom: 32px;
}